/* Base Application Styles */
/*body {
  color: #fff;
  background: #222;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}*/

body {
  color: #fff;
  background: #000;
}

.mdl-layout-title{
font-family: 'Lucida Sans' ,'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
.demo-layout-transparent {
  /*background: url('../src/images/transparent.jpg') center / cover;*/
  background: url('../images/header.png') left / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
footer.mdl-mini-footer{
  background-color: #fff;
  padding: 13px 16px;
}


.trapezoid {
  border-bottom: 66px solid red;
	border-left: 50px solid transparent;
	height: 0;
  width: 916px;
}